@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Nunito:wght@400;700&display=swap');

:root {
  --red: #df0000;
  --darkgrey: #252525;
  --white: #ffffff;
  --black: #121212;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: 'Nunito', sans-serif;
  overflow-x: hidden;
}

nav {
  border-top: 0.3rem var(--red) solid;
  z-index: 1;
}

h1 {
  font-family: 'Karla', sans-serif;
  font-size: 3.2rem;
  text-align: right;
}

h2 {
  font-family: 'Karla', sans-serif;
  color: var(--red);
  font-size: 1.5rem;
  padding-bottom: 0.3rem;
  z-index: 1;
}

h3 {
  padding-top: 2rem;
  padding-bottom: 0.5rem;
  font-size: 0.8rem;
  z-index: 1;
}

h4 {
  font-family: 'Karla', sans-serif;
  color: var(--red);
  font-size: 1.3rem;
  padding-bottom: 0.5rem;
  z-index: 1;
}

ul,
li {
  display: inline;
}

button {
  background-color: var(--red);
  color: var(--white);
  border: none;
  border-radius: 35px 35px 35px 35px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  margin-top: 1.5rem;
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  transition: 0.3s;
}

button:hover {
  opacity: 0.7;
}

footer {
  background-color: var(--darkgrey);
}

.container {
  max-width: 1050px;
  width: 100%;
  margin: auto;
}

.navbar {
  width: 100%;
}

.menu-desktop {
  display: none;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.navbar .menu-items {
  display: flex;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: var(--red);
  font-weight: 700;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.navbar .nav-container a:hover {
  font-weight: bolder;
}

.nav-container {
  display: block;
  position: relative;
  height: 60px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 40px;
  right: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 40px;
  right: 30px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: var(--red);
}

.navbar .menu-items {
  padding-top: 80px;
  padding-bottom: 80px;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 1);
  background-color: var(--white);
  width: 100%;
  transform: translateX(100%);
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease-in-out;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
}

.navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 400;
}

.logo {
  position: absolute;
  top: 25px;
  left: 30px;
}

.logo img {
  width: 64px;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.nav-container input[type='checkbox']:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type='checkbox']:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type='checkbox']:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type='checkbox']:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.header {
  width: 100%;
  height: 350px;
  background-image: url('static/Header-winter.jpg');
  background-position-x: 35%;
  background-size: cover;
}

.header-polygon {
  display: none;
}

.about-us,
.history,
.join-us {
  margin: auto;
  text-align: center;
  margin-top: 3rem;
}

.history p {
  width: 65%;
  margin: auto;
  text-align: center;
}

.history-desktop {
  display: none;
}

.service {
  margin: auto;
  margin-top: 2rem;
  width: 65%;
}

.join-us {
  padding-bottom: 2rem;
}

.fas,
.fab {
  color: var(--red);
}

.links {
  border-top: 0.3rem var(--red) solid;
  background-color: var(--darkgrey);
  color: var(--white);
}

.data {
  width: 60%;
  margin: auto;
  text-align: center;
  margin-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.data p {
  font-size: 0.5rem;
}

.data ul li i {
  font-size: 0.8rem;
  color: var(--white);
}

.copyright {
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  color: var(--white);
  background-color: var(--black);
  text-align: center;
}

.copyright a {
  text-decoration: none;
  color: var(--white);
  font-size: 0.6rem;
}

.team {
  height: 150px;
}

.history-polygon-left,
.history-polygon-right {
  visibility: hidden;
}

.sm {
  display: inline;
}

@media only screen and (min-width: 481px) {
  .team {
    height: 150px;
    background-image: url('static/Group.png');
    background-position: center;
    background-size: cover;
  }

  .join-us {
    padding-bottom: 0rem;
  }

  .button-section {
    display: inline;
  }

  .join-us .team button {
    margin-top: 6rem;
  }

  .header {
    height: 450px;
  }

  .nav-container .checkbox {
    height: 48px;
    width: 48px;
    top: 40px;
    right: 40px;
  }

  .nav-container .hamburger-lines {
    height: 26px;
    width: 32px;
    top: 40px;
    right: 40px;
  }

  .logo {
    top: 25px;
    left: 40px;
  }

  .service {
    width: 40%;
  }

  .data {
    width: 50%;
    float: left;
  }

  .copyright {
    clear: both;
  }

  .history p {
    margin-top: 1.5rem;
  }
}

@media only screen and (min-width: 768px) {
  .nav-container .hamburger-lines {
    display: none;
  }

  .nav-container .hamburger-lines .line {
    display: none;
  }

  .nav-container .checkbox {
    display: none;
  }

  .navbar .menu-items {
    padding-top: 10px;
    padding-bottom: 80px;
    position: absolute;
    background: none;
    box-shadow: none;
    top: 40px;
    right: 0px;
    transform: translateX(0);
    width: 80%;
    display: inline-flex;
    z-index: 3;
  }

  .navbar .menu-items ul li:nth-child(2),
  .navbar .menu-items ul li:nth-child(3),
  .navbar .menu-items ul li:nth-child(4),
  .navbar .menu-items ul li:nth-child(5),
  .navbar .menu-items ul li:nth-child(5),
  .navbar .menu-items ul li:nth-child(6) {
    margin-left: -12px;
  }

  .navbar .menu-items ul li:nth-child(7) {
    margin-left: 0px;
  }

  .navbar .menu-items ul li:nth-child(8),
  .navbar .menu-items ul li:nth-child(9) {
    margin-left: -10px;
  }

  .navbar .menu-items a {
    font-size: 0.7rem;
  }

  .navbar .fab {
    font-size: 0.8rem;
  }

  .header {
    height: 550px;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1rem;
  }

  h4 {
    font-size: 2rem;
    margin-top: 1rem;
  }

  ul,
  li {
    display: inline;
  }

  .service {
    width: 75%;
  }

  .service p {
    font-size: 1.5rem;
  }

  .history p {
    font-size: 1.5rem;
  }

  .history-mobile {
    display: none;
  }

  .history-desktop {
    display: block;
  }

  .fas,
  .fab {
    font-size: 2.5rem;
  }

  .team {
    height: 250px;
  }

  .join-us .team button {
    margin-top: 10rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.3rem;
  }

  .data h6 {
    font-size: 0.9rem;
    margin-bottom: 0.4rem;
  }

  .data p {
    font-size: 0.7rem;
  }

  .data ul li i {
    font-size: 1rem;
    color: var(--white);
  }

  .copyright a {
    font-size: 0.8rem;
  }

  .data {
    width: 25%;
    padding-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

@media only screen and (min-width: 992px) {
  .navbar .menu-items a {
    font-size: 0.9rem;
  }

  .navbar .fab {
    font-size: 1.1rem;
  }

  .navbar .menu-items {
    top: 64px;
  }

  .logo {
    left: 64px;
    top: 32px;
  }

  .logo img {
    width: 96px;
  }

  .header-polygon {
    display: block;
    position: absolute;
    background-image: url('static/Header-Polygon1.png');
    background-repeat: no-repeat;
    height: 700px;
    width: 450px;
    right: 0;
    top: 0px;
    border-top: 0.3rem var(--red) solid;
    z-index: 1;
  }

  .header {
    height: 650px;
    background-position-x: -200px;
  }

  .header-polygon h1 {
    position: absolute;
    top: 300px;
    right: 50px;
  }

  .data h6 {
    font-size: 1.2rem;
    margin-bottom: 0.6rem;
  }

  .data p {
    font-size: 0.9rem;
  }

  .copyright a {
    font-size: 0.9rem;
  }
}

@media only screen and (min-width: 1200px) {
  .navbar .menu-items {
    top: 64px;
    right: 0;
    width: 90%;
    display: inline-flex;
  }

  .navbar .menu-items a {
    font-size: 1.1rem;
  }

  .navbar .fab {
    font-size: 1.2rem;
  }

  .header {
    height: 750px;
    background-position: right;
  }

  .header-polygon {
    height: 900px;
    width: 500px;
  }

  .navbar .menu-items ul li:nth-child(7) {
    margin-left: 10px;
  }

  .navbar .menu-items ul li:nth-child(8),
  .navbar .menu-items ul li:nth-child(9) {
    margin-left: -10px;
  }
}
